{% extends 'main/layout.html' %}
{% block title %}
مدیریت دوره‌ها
{% endblock %}
{% block content %}
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">لیست دوره‌ها</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>نام دوره</th>
                                            <th>طول دوره (جلسه) </th>
                                            <th>استاد</th>
                                            <th>وضعیت</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>نام دوره</th>
                                            <th>طول دوره </th>
                                            <th>استاد</th>
                                            <th>وضعیت</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for course in courses %}
                                        <tr>
                                            <td>{{ course.name }}</td>
                                            <td>{{ course.length }}</td>
                                            <td>{{ course.teacher }}</td>
                                            <td>{{ course.get_status_display }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
        {% endblock %}