{% extends 'main/layout.html' %}
{% block title %}
{{ student.name}}
{% endblock %}
{% block content %}
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary"> {{ student.name}} </h6>
                            <a href="{% url 'main:students' %}" class="btn btn-warning">همه دانشجویان</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>نام</th>
                                            <th>تلفن </th>
                                            <th>ایمیل</th>
                                            <th>تاریخ تولد </th>
                                            <th>تاریخ ورود </th>
                                            <th>دوره‌ها</th>
                                            <th>مدرک تحصیلی</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr>
                                            <td>{{ student.user.first_name }} {{student.user.last_name}}</td>
                                            <td>{{ student.phone }}</td>
                                            <td>{{ student.user.email }}</td>
                                            <td>{{ student.date_of_birth }}</td>
                                            <td>{{ student.join_date }}</td>
                                            <td>{% for course in student.courses.all %}
                                            {{ course.name }},</td>
                                            {% endfor %}
                                            <td>{{ student.degree }}</td>
                                            <td>
                                                <a href="{% url 'main:student_edit' student_id=student.id %}" class="btn btn-primary">ویرایش</a>
                                                <a class="btn btn-danger" href="{% url 'main:student_delete' student_id=student.id %}" onclick="return confirm('آیا مطمئن هستید؟')">حذف</a>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
        {% endblock %}