{% extends 'main/layout.html' %}
{% block title %}
مدیریت اساتید
{% endblock %}
{% block content %}
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">لیست اساتید</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>نام</th>
                                            <th>تلفن </th>
                                            <th>ایمیل</th>
                                            <th>تاریخ ورود</th>
                                            <th>مدرک تحصیلی</th>
                                            <th>دوره‌ها</th>
                                            <th>آدرس</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>نام</th>
                                            <th>تلفن </th>
                                            <th>ایمیل</th>
                                            <th>تاریخ ورود</th>
                                            <th>مدرک تحصیلی</th>
                                            <th>دوره‌ها</th>
                                            <th>آدرس</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for teacher in teachers %}
                                        <tr>
                                            <td><a href="{% url 'main:teacher_detail' teacher_id=teacher.id %}">{{ teacher.user.first_name }} {{teacher.user.last_name}}</a></td>
                                            <td>{{ teacher.phone }}</td>
                                            <td>{{ teacher.user.email }}</td>
                                            <td>{{ teacher.join_date }}</td>
                                            <td>{{ teacher.degree }}</td>
                                            <td>
                                                {% for course in teacher.courses %}
                                                {{ course.name }}
                                                {% endfor %}
                                            </td>
                                            <td>{{ teacher.address }}</td>
                                            
                                        </tr>
                                        <div class="modal fade" id="removeteacher" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">آیا واقعا می‌خواهید استاد را حذف کنید؟</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">خیر</button>
                        <a class="btn btn-primary" href="{% url 'main:teacher_delete' teacher_id=teacher.id %}">حذف</a>
                    </div>
                </div>
            </div>
        </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <a href="{% url 'main:teacher_add' %}" class="btn btn-success">افزودن استاد</a>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            
            <!-- End of Main Content -->

            <!-- Footer -->
        {% endblock %}